<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FloatLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>edspctrl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>kX AC97.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>kX Manager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>kXAPI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>kXAudioDriver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>kxctrl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44212BE10DECB47E00E06065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44212C1A0DECB61B00E06065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8A3E96D0E8F20FE005D3692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8A3EA1D0E8F2735005D3692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8A6D9840E908BA40083971C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8A6D9B50E908E940083971C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8D8957C10687D6E006F33DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
